In [43]:
import numpy as np
import pandas as pd
from collections import Counter
from itertools import combinations

In [5]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
189,tt2096672,40000000,169837010,Dumb and Dumber To,Jim Carrey|Jeff Daniels|Rachel Melvin|Kathleen...,Bobby Farrelly|Peter Farrelly,The Second Parts Are More Fools,20 years after the dimwits set out on their fi...,110,Comedy,New Line Cinema|Universal Pictures|Conundrum E...,11/12/2014,5.5,2014
888,tt0313737,60000000,93354918,Two Weeks Notice,Sandra Bullock|Hugh Grant|Alicia Witt|Dana Ive...,Marc Lawrence,Over. Done. Finished. A comedy about love at l...,Dedicated environmental lawyer Lucy Kelson goe...,101,Romance|Comedy,Village Roadshow Pictures|Castle Rock Entertai...,12/19/2002,5.8,2002
1571,tt0377092,17000000,129042871,Mean Girls,Lindsay Lohan|Rachel McAdams|Tim Meadows|Ana G...,Mark Waters,Welcome to girl world.,"Cady Heron is a hit with The Plastics, the A-l...",97,Comedy,Paramount Pictures,4/30/2004,6.8,2004
1433,tt0401855,50000000,111340801,Underworld: Evolution,Kate Beckinsale|Scott Speedman|Tony Curran|Sha...,Len Wiseman,"My God. Brother, what have you done?",As the war between the vampires and the Lycans...,106,Fantasy|Action|Science Fiction|Thriller,Lakeshore Entertainment|Screen Gems,1/12/2006,6.3,2006
47,tt2719848,55000000,203427584,Everest,Jason Clarke|Jake Gyllenhaal|Josh Brolin|John ...,Baltasar KormÃ¡kur,The Storm Awaits.,Inspired by the incredible events surrounding ...,121,Adventure|Drama,Universal Pictures|Working Title Films|Walden ...,9/10/2015,6.7,2015

In [6]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [7]:
data.info()
data.imdb_id.nunique() # make sure that count of unique imdb_id is equal count dataframe's rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

1889

# Предобработка

In [8]:
answers  = {} # dictionary of answers

# the time given in the dataset is in string format, so we need to change this in datetime format 
data.release_date = pd.to_datetime(data['release_date'])

# add the 'profit' column
data['profit'] = data.revenue - data.budget

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [9]:
answer_1 = data[data.budget == data.budget.max()]
answer_1 = f"{answer_1.iloc[0]['original_title']} ({answer_1.iloc[0]['imdb_id']})"
answer_1
# +

'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [234]:
answer_1_2 = data.sort_values(['budget'], ascending=False).head(1)[['imdb_id', 'original_title']]
answer_1_2 = f"{answer_1_2.iloc[0]['original_title']} ({answer_1_2.iloc[0]['imdb_id']})"
answer_1_2

'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
answer_2 = data[data.runtime == data.runtime.max()]
answer_2 = f"{answer_2.iloc[0]['original_title']} ({answer_2.iloc[0]['imdb_id']})"
answer_2
# +

'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answer_3 = data[data.runtime == data.runtime.min()]
answer_3 = f"{answer_3.iloc[0]['original_title']} ({answer_3.iloc[0]['imdb_id']})"
answer_3
# +

'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [12]:
answer_4 = round(data.runtime.mean())
answer_4 
# +

110

# 5. Каково медианное значение длительности фильмов?

In [13]:
answer_5 = round(data.runtime.median())
answer_5 
# +

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
answer_6 = data[data.profit == data.profit.max()]
answer_6 = f"{answer_6.iloc[0]['original_title']} ({answer_6.iloc[0]['imdb_id']})"
answer_6
# +

'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [15]:
answer_7 = data[data.profit == data.profit.min()]
answer_7 = f"{answer_7.iloc[0]['original_title']} ({answer_7.iloc[0]['imdb_id']})"
answer_7
# +

'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [16]:
answer_8 = data[data.revenue > data.budget].imdb_id.nunique()
answer_8
# +

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [17]:
answer_9 = data.query('release_year==2008').sort_values(['revenue'], ascending=False)
answer_9 = f"{answer_9.iloc[0]['original_title']} ({answer_9.iloc[0]['imdb_id']})"
answer_9
# +

'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [18]:
answer_10 = data.query('2012 <= release_year <= 2014').sort_values(['profit'])
answer_10 = f"{answer_10.iloc[0]['original_title']} ({answer_10.iloc[0]['imdb_id']})"
answer_10
# +

'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [22]:
answer_11 = dict(Counter(data['genres'].str.cat(sep='|').split('|')))
answer_11 = max(answer_11, key=answer_11.get)
answer_11
# +

'Drama'

ВАРИАНТ 2

In [23]:
answer_11_2 = pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts(ascending=False).head(1)
answer_11_2.idxmax()
# +

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [24]:
answer_12 = pd.Series(data[data['profit'] > 0].genres.str.cat(sep='|').split('|'))\
                                              .value_counts(ascending=False).head(1)
answer_12 = answer_12.idxmax()
answer_12
# +

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [25]:
answer_13 = data.groupby('director')['revenue'].sum().sort_values(ascending=False).head(1)
answer_13 = answer_13.idxmax()
answer_13
# +

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [26]:
answer_14 = data[data.genres.str.contains('Action')]
answer_14 = pd.Series(answer_14['director'].str.cat(sep='|').split('|')).value_counts()
answer_14 = answer_14.idxmax()
answer_14
# +

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [27]:
data_15 = data.copy()
data_15.cast = data_15.cast.str.split('|')
data_15 = data_15.explode('cast')
data_15 = data_15.pivot_table(values='revenue', index='cast', columns='release_year', aggfunc='sum')
answer_15 = data_15[2012].idxmax()
answer_15
# +

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [28]:
answer_16 = pd.Series(data[data['budget'] > data['budget'].mean()].cast.str.split('|')\
                                                          .sum()).value_counts()
answer_16 = answer_16.idxmax()
answer_16
# +

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [29]:
answer_17 = pd.Series(data[data.cast.str.contains('Nicolas Cage')].genres.str.cat(sep='|').split('|'))\
                                                                  .value_counts(ascending=False).head(1)
answer_17 = answer_17.idxmax()
answer_17
# +

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [30]:
data_18 = data[data.production_companies.str.contains('Paramount Pictures')]
answer_18 = data_18.sort_values(['profit'], ascending=True)
answer_18 = answer_18['original_title'].iloc[0]
answer_18
# +

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [31]:
answer_19 = data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)
answer_19 = answer_19.idxmax()
answer_19
# +

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [32]:
data_20 = data[data.production_companies.str.contains('Warner Bros')]
answer_20 = data_20.groupby('release_year')['profit'].sum().sort_values(ascending=False).head(1)
answer_20 = answer_20.idxmax()
answer_20
# +

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [33]:
answer_21 = data.release_date.dt.month.value_counts()
answer_21 = answer_21.idxmax()
answer_21
# +

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [34]:
answer_22 = data.release_date.dt.month.value_counts()
answer_22 = answer_22.loc[6] + answer_22.loc[7] + answer_22.loc[8]
answer_22
# +

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [35]:
data_23 = data.copy()
data_23.release_date = data_23.release_date.apply(lambda x: x.strftime('%B'))
data_23 = data_23.query('release_date in ["January", "February", "December"]')
data_23 = data_23.director.str.split('|').explode('director').value_counts().head(1)
answer_23 = data_23.idxmax()
answer_23
# +

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [36]:
data_24 = data.copy()
data_24['original_title'] = data_24.original_title.apply(lambda x: len(x))
data_24['production_companies'] = data_24.production_companies.str.split("|")
data_24 = data_24.explode('production_companies')
data_24 = data_24.groupby(['production_companies'])['original_title'].mean()
answer_24 = data_24.idxmax()
answer_24
# +

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [37]:
data_25 = data.copy()
data_25['overview'] = data_25.overview.str.split(' ')
data_25['overview'] = data_25.overview.apply(lambda x: len(x))
data_25['production_companies'] = data_25.production_companies.str.split("|")
data_25 = data_25.explode('production_companies')
data_25 = data_25.groupby(['production_companies'])['overview'].mean()
answer_25 = data_25.idxmax()
answer_25
# +

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [38]:
persent = np.percentile(data['vote_average'], 99)
data_26 = data[data.vote_average > persent]
answer_26 = data_26.groupby(['original_title'])['vote_average'].max().sort_values(ascending=False)
answer_26 # 'Inside Out, The Dark Knight, 12 Years a Slave'
# +

original_title
The Dark Knight                                  8.1
The Imitation Game                               8.0
Room                                             8.0
Interstellar                                     8.0
Inside Out                                       8.0
The Wolf of Wall Street                          7.9
The Pianist                                      7.9
The Lord of the Rings: The Return of the King    7.9
The Grand Budapest Hotel                         7.9
Memento                                          7.9
Inception                                        7.9
Guardians of the Galaxy                          7.9
Gone Girl                                        7.9
12 Years a Slave                                 7.9
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [44]:
data_27 = data.copy()
data_27.cast = data_27.cast.str.split('|')
cast_counter = Counter()
for casts in data_27.cast:
    path = list(combinations(casts, 2))
    cast_counter += Counter(path)
answer_27 = str(cast_counter.most_common(1))[4:20] + ' & ' + str(cast_counter.most_common(1))[24:36]
answer_27
# +

'Daniel Radcliffe & Rupert Grint'

# Submission

In [46]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers['1'] = answer_1
answers['2'] = answer_2
answers['3'] = answer_3
answers['4'] = answer_4
answers['5'] = answer_5
answers['6'] = answer_6
answers['7'] = answer_7
answers['8'] = answer_8
answers['9'] = answer_9
answers['10'] = answer_10
answers['11'] = answer_11
answers['12'] = answer_12
answers['13'] = answer_13
answers['14'] = answer_14
answers['15'] = answer_15
answers['16'] = answer_16
answers['17'] = answer_17
answers['18'] = answer_18
answers['19'] = answer_19
answers['20'] = answer_20
answers['21'] = answer_21
answers['22'] = answer_22
answers['23'] = answer_23
answers['24'] = answer_24
answers['25'] = answer_25
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
answers['27'] = answer_27
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [47]:
# и убедиться что ни чего не пропустил)
len(answers)

27